*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

#workshop sub-repos
dotnet-docker
test_db

# Node.js
node_modules/
npm-debug.log

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
.pnpm
.npm
.cache
